<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="header">
  <div class="dropdown">
    <button class="dropdownButton" onclick="showInfo()">
      <img
              id="user-image"
              src="public/assets/images/me.png"
              alt="user"
              height="40"
              display="block"
      />
    </button>
    <div class="dropdown-content" id="dropdownInfo">
      <b>John Doe</b>
      <b>john.doe@example.com</b>
    </div>
  </div>
  <div class="navbar">
    <a href="/" class="nav-item nav-link" active-class="active" to="/"
    >Posts</a
    >
    <a href="/addnewpost" class="nav-item nav-link" active-class="active" to="/addnewpost"
    >New Post</a
    >
    <a href="/contact" class="nav-item nav-link" active-class="active" to="/contact"
    >Contact</a
    >
<!--
    <a href="/contact" class="nav-item nav-link" active-class="active" to="/login"
    >Login</a
    >
    -->
  </div>
</div>
<script>
function showInfo() {
  document.getElementById("dropdownInfo").classList.toggle("show");
}
window.onclick = function(event){
  if(!event.target.matches('.dropdownButton')){
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (let i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if(openDropdown.classList.contains("show")){
        openDropdown.classList.remove("show")
      }
    }
  }
}
</script>