center{
  text-align: center;
  font-family: Arial;
  font-size: 40px;
  justify-content: center;
}
form{
  display: inline-block;
  justify-content: center;
}
body{
  text-align: center;
}
.header {
  display: flex;
  flex-direction: row;
  background: whitesmoke;
  width: 99%;
}
.header > div {
  margin-left: 1%;
  margin-right: 1%;
}
div + form {
  margin-left: auto;
  margin-right: auto;
}
.dropdown {
  display: inline-block;
}
.dropdown .dropdownButton {
  background: whitesmoke;
  cursor: pointer;
  position: relative;
  height: 50px;
  border: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  left: auto;
  border-radius: 7px;
  border: 5px;
  background-color: whitesmoke;
}
.dropdown-content b {
  color: lightslategray;
  font-family: Arial;
  float: none;
  display: block;
  text-align: left;
  padding: 10px 10px 10px 10px;
  border-radius: 7px;
  border: 5px;
}
.dropdown:hover .dropdown-content{
  display: block;
}
.dropdown-content b:hover {
  background-color: lightgray;
  color: dimgray;
}
.navbar {
  overflow: hidden;
}
.nav-item {
  float: left;
  color: black;
  font-family: arial;
  text-align: center;
  text-decoration: none;
  padding: 15px 15px;
  font-size: 18px;
}
.nav-item:hover {
  background-color: lightblue;
  color: darkslategrey;
  text-decoration: none;
}
.nav-item {
}
.fa-facebook::before {
  content: url("https://lh3.googleusercontent.com/-VPr8buUo47w/VjMsRPIzr-I/AAAAAAAAAL4/AYBtvlNCQiw/s64-Ic42/clouds_social_media_icons_set_64x64_0000_facebook.png");
}
.fa-twitter::before {
  content: url("https://lh3.googleusercontent.com/-yDH1FuHcQ5s/VjMsQ2lXvxI/AAAAAAAAAMg/i8JHsTh6aU8/s64-Ic42/clouds_social_media_icons_set_64x64_0002_twitter.png");
}
.fa-instagram::before {
  content: url("https://lh3.googleusercontent.com/-VIveL13ocQc/VjMw7JU6dGI/AAAAAAAAAOo/AGxBey6rtC0/s64-Ic42/clouds_social_media_icons_set_64x64_0001_instagram.png");
}
footer {
  overflow: hidden;
  bottom: 50px;
  left: 4%;
  background: whitesmoke;
  clear: both;
  position: relative;
  height: 210px;
  width: 90%;
  margin-top: 200px;
  align-items: center;
  color: whitesmoke;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.head {
  margin-top: 2.5%;
  max-width: 500px;
  line-height: 30px;
  font-size: 30px;
  color: dimgray;
  justify-content: center;
}
.social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social li {
  margin: 0 15px;
}
.copy {
  margin-bottom: 50%;
  max-width: 450px;
  line-height: 10px;
  font-size: 17px;
  color: dimgray;
}
